&pinctrl {
    spi3_default: spi3_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 17)>;
        };
    };
    spi3_sleep: spi3_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 17)>;
            low-power-enable;
        };
    };

    matrix_pins: matrix_pins {
        group1 {
            psels = <NRF_PSEL(GPIO, 0, 5)>, <NRF_PSEL(GPIO, 0, 6)>;
            nordic,drive-mode = <NRF_DRIVE_S0S1>;  // 标准驱动模式
            //nordic,low-power-enable;  // 低功耗启用（可选，用于输入）
            bias-pull-down;  // 下拉电阻（适用于矩阵行引脚，如果是 col2row 模式）
        };
    };
};

&spi3 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi3_default>;
    pinctrl-1 = <&spi3_sleep>;
    pinctrl-names = "default", "sleep";

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        reg = <0>;
        spi-max-frequency = <4000000>;
        chain-length = <12>;
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    };
};
