#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {


    ergonude_map: keymap {
        compatible = "zmk,keymap";

        0 {
            display-name = "default_win";
            bindings = < 
&kp ESC   &kp TILDE   &kp N1    &kp N2   &kp N3    &kp N4    &kp N5    &kp N6                 &kp N7    &kp N8   &kp N9     &kp N0    &kp MINUS    &kp EQUAL   &kp BSPC            &kp DEL
          &kp TAB     &kp Q     &kp W    &kp E     &kp R     &kp T                            &kp Y     &kp U    &kp I      &kp O     &kp P        &kp LBKT    &kp RBKT  &kp BSLH
          &kp CAPS    &kp A     &kp S    &kp D     &kp F     &kp G            &kp BSPC        &kp H     &kp J    &kp K      &kp L     &kp SEMI     &kp SQT               &kp RET
          &kp LSHFT   &kp Z     &kp X    &kp C     &kp V     &kp B            &kp RET         &kp N     &kp M    &kp COMMA  &kp DOT   &kp FSLH     &kp RSHFT             &kp UP 
          &kp LCTRL   &kp LGUI           &kp LALT            &none   &none    &none        &kp SPACE           &kp RALT  &kp RCTRL                &kp LEFT  &kp DOWN  &kp RIGHT
            >; 
        };



    };
};
