#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    macros {
        to_win: to_win-macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&out OUT_USB>,
                <&rgb_ug RGB_COLOR_HSB(15,100,100)>,
                <&to 0>;
        };

        to_mac: to_mac-macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = 
                <&out OUT_BLE>,
                <&bt BT_SEL 0>,
                <&rgb_ug RGB_COLOR_HSB(200,35,100)>,
                <&to 3>;
        };

    };

    behaviors {
        lt_mac: layer_tap_mac {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo &to_mac>;
            display-name = "Layer-Tap-mac";
        };

        lt_win: layer_tap_win {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo &to_win>;
            display-name = "Layer-Tap-win";
        };
        
    };

    keymap {
        compatible = "zmk,keymap";

        0 {
            display-name = "default_win";
            bindings = < 
&kp ESC   &kp GRAVE   &kp N1    &kp N2   &kp N3    &kp N4    &kp N5    &kp N6                 &kp N7    &kp N8   &kp N9     &kp N0    &kp MINUS    &kp EQUAL   &kp BSPC            &kp DEL
          &kp TAB     &kp Q     &kp W    &kp E     &kp R     &kp T                            &kp Y     &kp U    &kp I      &kp O     &kp P        &kp LBKT    &kp RBKT  &kp BSLH
          &kp CAPS    &kp A     &kp S    &kp D     &kp F     &kp G            &kp BSPC        &kp H     &kp J    &kp K      &kp L     &kp SEMI     &kp SQT               &kp RET
          &kp LSHFT   &kp Z     &kp X    &kp C     &kp V     &kp B            &kp RET         &kp N     &kp M    &kp COMMA  &kp DOT   &kp FSLH     &kp RSHFT             &kp UP 
          &kp LCTRL   &kp LGUI           &kp LALT            &lt 2 SPACE   &mo 1  &lt_mac 6 0            &kp SPACE  &mt RALT LS(SPACE) &mt RCTRL LC(SPACE)      &kp LEFT  &kp DOWN  &kp RIGHT
            >; 
        };

        1 {
            display-name = "fn_win";
            bindings = <
&kp LC(LA(LS(SLCK))) &uc 0x20A9 &kp F1 &kp F2   &kp F3    &kp F4   &kp F5    &kp F6                  &kp F7    &kp F8   &kp F9     &kp F10   &kp F11      &kp F12  &kp BSPC              &bootloader
     &kp LS(LA(TAB))  &kp LA(F4) &kp LC(F4) &kp LG(E) &kp LC(LS(R)) &kp LC(T)                 &kp N7    &kp N8   &kp N9     &kp MINUS &kp CARET    &none    &none    &uc 0x20A9
          &none    &kp LC(A) &kp PSCRN &kp DEL   &kp LA(SPACE) &kp C_AC_HOME &kp C_VOL_UP   &kp N4    &kp N5   &kp N6     &kp PLUS  &kp ASTERISK &none             &kp RET
          &kp LSHFT   &kp LC(Y) &none &kp C_AL_CALC &none   &kp LC(N)          &kp C_VOL_DN   &kp N1    &kp N2   &kp N3     &kp DOT   &kp FSLH     &kp RSHFT         &kp C_VOL_UP 
          &kp LCTRL   &kp LGUI           &kp LALT           &kp SPACE     &none    &rgb_ug RGB_EFR      &kp N0         &kp EQUAL &none                    &kp C_PREV &kp C_VOL_DN &kp C_NEXT
            >; 
        };

        2 {
            display-name = "nav_win";
            bindings = <
&kp ESC   &kp TILDE   &kp N6  &kp N7    &kp N8    &kp N9     &kp N0  &kp MINUS            &kp F7    &kp F8   &kp F9       &kp F10        &kp F11    &kp F12   &kp BSPC           &kp INS
          &kp LC(TAB) &kp F11   &kp HOME  &kp UP    &kp END    &kp PG_UP                    &none     &mkp MB1 &mmv MOVE_UP &mkp MB2       &none      &none     &none   &none
          &kp LC(N0)   &kp F12   &kp LEFT  &kp DOWN  &kp RIGHT  &kp PG_DN      &kp LS(DOT)   &none  &mmv MOVE_LEFT &mkp MB3 &mmv MOVE_RIGHT &none      &none             &kp RET
          &kp LSHFT   &kp LC(Z) &kp LC(X) &kp LC(C) &kp LC(V)  &none          &kp LS(COMMA) &none     &none    &mmv MOVE_DOWN     &none    &none      &kp RSHFT         &kp PG_UP 
          &kp LCTRL   &kp LGUI           &kp LALT          &none          &none  &rgb_ug RGB_TOG     &kp SPACE         &kp RALT  &kp RCTRL                    &kp HOME  &kp PG_DN  &kp END
            >;
        };

        3 {
            display-name = "default_mac";
            bindings = < 
&kp ESC   &kp GRAVE   &kp N1    &kp N2   &kp N3    &kp N4    &kp N5    &kp N6                 &kp N7    &kp N8   &kp N9     &kp N0    &kp MINUS    &kp EQUAL   &kp BSPC            &kp DEL
          &kp TAB     &kp Q     &kp W    &kp E     &kp R     &kp T                            &kp Y     &kp U    &kp I      &kp O     &kp P        &kp LBKT    &kp RBKT  &kp BSLH
          &kp CAPS    &kp A     &kp S    &kp D     &kp F     &kp G            &kp BSPC        &kp H     &kp J    &kp K      &kp L     &kp SEMI     &kp SQT               &kp RET
          &kp LSHFT   &kp Z     &kp X    &kp C     &kp V     &kp B            &kp RET         &kp N     &kp M    &kp COMMA  &kp DOT   &kp FSLH     &kp RSHFT             &kp UP 
          &kp LGUI   &kp LALT           &kp LGUI            &lt 5 SPACE   &mo 4    &lt_win 6 0          &kp SPACE  &mt RALT LS(SPACE) &mt RCTRL LA(RET)        &kp LEFT  &kp DOWN  &kp RIGHT
            >; 
        }; 

        4 {
            display-name = "fn_mac";
            bindings = <
&kp LC(LG(Q)) &uc 0x20A9 &kp F1    &kp F2   &kp F3    &kp F4   &kp F5    &kp F6                      &kp F7   &kp F8   &kp F9     &kp F10   &kp F11      &kp F12     &kp BSPC           &bootloader
     &kp LS(LG(TAB)) &kp LG(Q) &kp LG(W) &kp LA(LG(SPACE)) &kp LS(LG(R)) &kp LG(T)               &kp N7   &kp N8   &kp N9     &kp MINUS &kp CARET    &none       &none     &uc 0x20A9
          &none   &kp LG(A) &kp LS(LG(N4)) &kp DEL &kp LA(SPACE) &kp LA(LC(G)) &kp LG(BSPC)   &kp N4   &kp N5   &kp N6     &kp PLUS  &kp ASTERISK &none                  &kp RET
          &kp LSHFT  &kp LG(LS(Z)) &none &kp LA(LC(C)) &none  &kp LG(N)         &kp LS(LG(RET))  &kp N1   &kp N2   &kp N3     &kp DOT   &kp FSLH     &kp RSHFT              &kp C_VOL_UP 
          &kp LGUI   &kp LALT           &kp LGUI           &kp SPACE        &none    &rgb_ug RGB_EFR      &kp N0            &kp EQUAL &none                      &kp C_PREV &kp C_VOL_DN &kp C_NEXT
            >; 
        };

        5 {
            display-name = "nav_mac";
            bindings = <
&kp ESC   &kp TILDE   &kp N6  &kp N7    &kp N8    &kp N9     &kp N0  &kp MINUS           &kp F7    &kp F8   &kp F9     &kp F10   &kp F11      &kp F12     &kp BSPC             &kp INS
          &kp LC(TAB) &kp F11   &kp HOME  &kp UP    &kp END    &kp PG_UP                   &none     &mkp MB1 &mmv MOVE_UP &mkp MB2 &none       &none       &none     &none
          &kp LG(0)   &kp F12   &kp LEFT  &kp DOWN  &kp RIGHT  &kp PG_DN    &kp LS(DOT)    &none  &mmv MOVE_LEFT &mkp MB3 &mmv MOVE_RIGHT &none       &none     &kp RET
          &kp LSHFT   &kp LG(Z) &kp LG(X) &kp LG(C) &kp LG(V)  &none        &kp LS(COMMA)  &none     &none    &mmv MOVE_DOWN     &none    &none       &kp RSHFT             &kp PG_UP 
          &kp LGUI   &kp LALT           &kp LGUI          &none          &none  &rgb_ug RGB_TOG     &kp SPACE           &kp RALT  &kp RCTRL                 &kp HOME  &kp PG_DN  &kp END
            >;
        };

        6 {
            display-name = "bt-rgb";
            bindings = <
&none       &none    &none    &none     &none    &none  &none   &none                    &none     &none    &none      &none     &none      &none       &none          &bt BT_CLR_ALL
            &none    &none    &none     &none    &none  &none                            &none     &none    &none      &none     &none      &none       &none     &none
            &none    &none    &none     &none    &none  &none         &kp C_VOL_UP       &none     &none    &none      &none     &none      &none                 &none
            &none    &none    &none     &none    &none  &none         &kp C_VOL_DN       &none     &none    &none      &none     &none      &none                 &kp C_BRI_UP 
            &none    &none              &none      &none           &kp C_MUTE     &none            &none               &none     &none                      &none &kp C_BRI_DN &none
            >;
        };        
    };
};
